<div style="background-color:  #65a544;" style="">
  <br>
  <br>
  <div class="container text-center" style="margin-top: 0px;">
    <hr style="background-color:white; ">
    <br>
    <div class="img-foorter">
      <img src="https://artemedicovenezuela.com/images/2020/06/17/nateenlogo.png" alt="" height="100">
    </div>
    <br>
    <p style="color: white;"><i class="fas fa-paper-plane"></i> info@nateenpty.com</p>
    <p style="color: white;"><i class="fas fa-map-pin"></i> Clayton calle guanabano 634- Albrook</p>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center"><a href="https://www.instagram.com/" target="_blank"><h1 style="color: white;"><i class="fab fa-instagram"></i></h1></a></div>
      <div class="col-sm-4 text-center"><a href="/contacto"><h1 style="color: white;"><i class="fas fa-envelope"></i></h1></a></div>
      <div class="col-sm-4 text-center"><a href="https://api.whatsapp.com/send?phone=" target="_blank" ><h1 style="color: white;"><i class="fab fa-whatsapp"></i></h1></a></div>
    </div>
    <br>
    <p style="color: white;"><i class="fas fa-phone"></i> 373-5420 / <i class="fas fa-mobile-alt"></i> 6830-8420 </p>
    <br>
    <p style="color: white;"> <a href="/" style="color: white;">Home</a> / <a href="/" style="color: white;">Nateen</a> / <a href="/destinos" style="color: white;">Productos</a>/ <a href="/" style="color: white;">Contacto</a></p>
    <br>
    <hr style="background-color:white; ">
  </div>
  <br>
</div>
<div style="">
  <div class="footer">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
      <a href="http://www.leonardoluxburg.com">
        <%= image_tag "http://www.leonardoluxburg.com/assets/logo-fe10649bee0392b6487ff00f1e4e43bf0e89cc42a21ec324afee3eeb9d1eed10.png" %>
      </a>
    </div>
  </div>
</div>
