<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://res.cloudinary.com/mommy-nearest/image/upload/c_fill,h_400,w_900/kccptbvgwgtwk1tg0mtu);  background-position: center;">
  <div>
    <br>
    <br>
    <div class="hidden-xs hidden-sm container">
      <%= image_tag "https://artemedicovenezuela.com/images/2020/06/17/nateenlogo.png" %>
      <hr style="background-color: white;">
      <h1 style="color: white"><strong>Pañales Ecologicos</strong></h1>
      <hr style="background-color: white;">
      <i class="fas fa-angle-double-down" style="color: white; font-size: 30px;"></i>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 100px">
  <div class="row">
    <div class="col-md-6">
      <h2>Productos hechos para tu salud</h2>
      <br>
      <hr>
      <p>Bienvenida a este espacio dedicado a ti, mamá extraordinaria que buscas la máxima protección, suavidad y comodidad para tu bebé, a la vez que cuidas el medio ambiente.</p>
      <p>Los productos Nateen son los únicos en el mercado que cuentan con grado dermatológico certificado y materiales 100% naturales, que cuidan la salud de tu al mismo tiempo que proteges el medio ambiente.</p>
      <hr>
      <div class="btn btn-pamper">Ver mas</div>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        <img src="https://lh3.googleusercontent.com/proxy/YLEgRyfORAp9-R4xuw2RFkyN64mdkJpJm7iRWmnGm8vvrTpiSFzcZ3alXbxqmC-4f3V7pHoyDmiA4FaW7wN0WKCsaoxk4IfQLBEY8Ft0UNYFKjDTolAKMNCnrrIDxqDZ6DIjoUnPMZnyGx_vgtm8THZseDCi5VU6m9k" alt="" class="responsive-image">
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div style="background-color: white; padding-top: 50px;" >
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <i class="fas fa-recycle" style="color: #65a544; font-size: 100px;∏"></i>
        <br>
        <hr>
        <strong><h5>Productos Biodegradables</h5></strong>
        <p>Hechos de material 100% natural amigable con el medio ambiente y biodegradable en corto tiempo.</p>
        <hr>
      </div>

      <div class="col-md-4 text-center">
        <i class="fas fa-stethoscope" style="color: #65a544; font-size: 100px;∏"></i>
        <br>
        <hr>
        <strong><h5>Cuida tu salud</h5></strong>
        <p>Previenen y corrigen la dermatitis del pañal provocada por el pañal convencional</p>
        <hr>
      </div>

      <div class="col-md-4 text-center">
        <i class="fas fa-file-medical-alt" style="color: #65a544; font-size: 100px;∏"></i>
        <br>
        <hr>
        <strong><h5>Productos Dermatológicos</h5></strong>
        <p>Productos certificados por APOGEE MEDICAL SUPPLIES LTD, que ofrecen beneficios para la salud y el bienestar.</p>
        <hr>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>
<br>
<div class="container">
  <div class="text-center">
    <h1>Productos</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0360/3303/6426/products/5420072720098_600x600.jpg?v=1594069348"  style="width:100%">
        <h6>Nateen Panal Medium 18'S</h6>
        <p class="price">$6.95</p>
        <p><button><a href="https://arrocha.com/products/nateen-panal-medium-18s" style="color: white;">Ordenar</a></button></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0360/3303/6426/products/5420072710198_600x600.jpg?v=1586181729"  style="width:100%">
        <h6>Nateen Adulto Panal Large 10'S</h6>
        <p class="price">$11.95</p>
        <p><button><a href="https://arrocha.com/products/nateen-adulto-pa-al-large-10s" style="color: white;">Ordenar</a></button></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://cdn.shopify.com/s/files/1/0360/3303/6426/products/5420072720081_600x600.jpg?v=1594069348"  style="width:100%">
        <h6>Nateen Panal Small 20'S</h6>
        <p class="price">$6.95</p>
        <p><button><a href="https://arrocha.com/products/nateen-panal-small-20s" style="color: white;">Ordenar</a></button></p>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
     <div class="btn btn-pamper">Todos</div>
  </div>

</div>
<br>
<br>

<div style="background-color: white; padding-top: 50px;" >
  <div class="container text-center">
  <hr>
 <iframe width="100%" height="315"  src="https://www.youtube.com/embed/1IGlLMX7XBQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <hr>
  </div>
  <br>
  <br>
</div>

